@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

body{
	margin: 0;
	background-color: #364652;
	font-size: 18px;
	font-family: 'EB Garamond', serif;
	margin: 1.5em;
}

header{
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}


nav {
	background-color: #e8c66a;
	font-family: 'EB Garamond', serif;
	border: 1px black solid;
    padding: 20px;
    margin-right: 10px;
	font-size: 20px;
	border: white;
	
}

#mobile {
	display: block;
}

a:hover {
	background-color: #aaaaaa;
}

h1{
	font-family: 'Fjalla One', sans-serif;
}


img{
	display: block;
	margin: 0 auto;
	width: 250px;
	float: right;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul{
	color: #cdcdcd;
	}

p{
	color:#cdcdcd;
}


#mainpoint{
	float: left;
	font-style: italic;
	font-family: 'Fjalla One', sans-serif;
	color: #374a67;
}

	#more{
	text-decoration: underline;
}

ul{
	float: right;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	font-family: 'EB Garamond', serif;
	font-size: 1.1em
}


.figure{
	float: right;
}

.art img {
	display: inline-block;
	padding-right: 50px;
	width: 300px;
}

.left ul{
	background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

.right {
	background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}

/*.left ul{
	float: right;
    border: 1px black solid;
    padding: 20px;
}*/

article{
	background-color: #e89c6c;
	border: 1px black solid;
    padding: 20px;
}

aside{
	border: 1px black solid;
    padding: 20px;
}


footer{
	background-color: #ff957e; 
	border: 1px black solid;
    padding: 20px;
}

div{
	background-color: #ffe2b8;
	border: 1px black solid;
    padding: 20px;
}

.two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

/*.wrapper{
	width: 100%;
}

aside {
	width: 38%;
	display: inline-block;
}

.blurb {
	width: 60%;
}

article{display: inline;
		margin: 0 auto;
		width: 300px
		border: 1px black solid;
padding: 20px;
}

border: 1px black solid;
    padding: 20px;
    margin-right: 10px;
	font-size: 20px;
	border: white;
}/*