body{
	margin: 0;
	background-color: #364652;
}

.sub{
	color: #cdcdcd;
}

h1{
	font-family: "comic sans", Arial;
}

nav a {margin-right: 10px
}

img{
	display: block;
	margin: 0 auto;

}

header{
background-color: #280000;
}

#mainpoint{
	font-style: italic;
}

#more{
	text-decoration: underline;

}

ul{
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
footer{color: #cdcdcd;
}