body{

	background-color: #0010b2
}

h1{
	font-family: "comic sans", Arial;
}

img{
	display: block;
	margin: 0 auto;

}

h1, #mainpoint{

background-color: #b20000
}

#mainpoint{
	font-style: italic;
}
ul{
	font-weight: bold;
}