body{

	background-color: #0010b2
}

.sub{
	color: #b28e09
}

h1{
	font-family: "comic sans", Arial;
}

img{
	display: block;
	margin: 0 auto;

}

h1, #mainpoint{
background-color: #b20000
}

#mainpoint{
	font-style: italic;
}

#more{
	text-decoration: underline;

}

ul{
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}